In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 30)

/opt/conda/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/opt/conda/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('ver1.csv', index_col=['id'])
display(df.columns)
df.drop(columns=['production_countries', 'production_companies', 'genres', 'release_date', 
                 'popularity_norm', 'year', 'original_language', 'fr', 'ru', 'es', 'hi', 
                 'ja', 'it', 'ko', 'cn', 'zh', 'others', 'month', 'date'], inplace=True)

# col_norm = ['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count', 'popularity_norm']

df_norm = df

display(df_norm.columns)
display(df_norm)
# df_norm[col_norm] = (df_norm[col_norm] - df_norm[col_norm].mean()) / df_norm[col_norm].std()
df_norm_mean = df_norm.mean()
df_norm_std = df_norm.std()

df_norm = (df_norm - df_norm_mean) / df_norm_std

# display(df_norm[df_norm.isna().any(axis=1)])
display(len(df_norm.columns), len(df_norm))

X_train, X_test = train_test_split(df_norm, test_size = 0.1, random_state=123)

X_train = pd.DataFrame(data=X_train)
y_train = X_train[['revenue']]
X_train = X_train.drop(columns=['revenue'])
X_test = pd.DataFrame(data=X_test)
y_test = X_test[['revenue']]
X_test = X_test.drop(columns=['revenue'])

Index(['budget', 'genres', 'original_language', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'vote_average', 'vote_count', 'popularity_norm',
       'year', 'month', 'date', 'quarter', 'others', 'en', 'fr', 'ru', 'es',
       'hi', 'ja', 'it', 'ko', 'cn', 'zh'],
      dtype='object')

Index(['budget', 'popularity', 'revenue', 'runtime', 'vote_average',
       'vote_count', 'quarter', 'en'],
      dtype='object')

,budget,popularity,revenue,runtime,vote_average,vote_count,quarter,en
id,,,,,,,,
5,4000000,22.876230,4300000,98.0,6.5,530,4,1
11,11000000,126.393695,775398007,121.0,8.1,6624,2,1
12,94000000,85.688789,940335536,100.0,7.6,6122,2,1
13,55000000,138.133331,677945399,142.0,8.2,7927,3,1
14,15000000,80.878605,356296601,122.0,7.9,3313,3,1
...,...,...,...,...,...,...,...,...
365222,36000000,19.167377,156844753,105.0,6.5,379,4,0
375290,4500000,2.551559,32000000,126.0,7.3,57,1,0
376659,20000000,42.512296,183936074,100.0,6.3,1252,3,1
381902,68490000,4.726290,193677158,120.0,6.0,24,1,0
417859,130000000,20.678787,554987477,90.0,6.4,451,4,1

8

3169

In [ ]:
ada_clf = AdaBoostClassifier()